body{
  background-color:black;
}
#presentation{
  margin-left: auto;
  margin-right: auto;  
  width: 300px;
  padding-top:200px;
}
#menu{
  margin-left: auto;
  margin-right: auto;  
  width: 300px;
  display:none;
  visibility:hidden;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
}
